nav ul {
    gap: 20px;
    /*gap: distancia entre os itens do menu */
    padding-top: 30px;
    display: flex;
    /* display: flex: deixa os itens na vertical */
    justify-content: center;
    /* justify-content: center: alinha os itens */
    list-style: none;
    float: left;

}

.infos {
    padding-left: 250px;
    float: left;
}
.infoPrincipal{
    float: left;
}
img{
    padding-left: 290px;
    float: left;
    
}
.p{
    padding-left: 525px;
    padding-right: 280px;
}
footer {

    position: fixed; /* deixa ele fixo */
    bottom: 0;       /* distancia borda inferior deixa ele colado*/
    left: 0;      


    float: left;
    background-color: #0080ff;
    text-align: center;
    padding: 15px 0;
    height: 50px;
    width: 100%;
}